@keyframes neonTitle {
    from {
        text-shadow: 0 1px 10px #ff49ff, 0 2px 25px #ff49ff;
    }
    to {
        text-shadow: 0 1px 15px #ff00ea;
    }
}

@keyframes neonImage {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #228DFF, 0 0 17px #228DFF, 0 0 20px #228DFF, 0 0 25px #228DFF, 0 0 38px #228DFF;
    }
}

// @keyframes loading {
//     from {
//         background: rgba(#228DFF, .4);
//         box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
//         border: 2px solid #228DFF;
//     }
//     to {
//         background: rgba(98, 0, 255, .4);
//         box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px rgb(98, 0, 255), 0 0 17px rgb(98, 0, 255), 0 0 20px rgb(98, 0, 255), 0 0 25px rgb(98, 0, 255), 0 0 38px rgb(98, 0, 255);
//         border: 2px solid rgb(98, 0, 255);
//     }
// }

@keyframes flash {
    0% {
        opacity: .9;
    }
    10% {
        opacity: .8
    }
    40% {
        opacity: .75;
    }
    50% {
        opacity: .9;
    }
    60% {
        opacity: 1;
    }
    88% {
        opacity: .85
    }
}
@keyframes floatY {
    0% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
}
@keyframes loading {
    to {
        letter-spacing: 5px;
    }
    from {
        letter-spacing: 6px;
    }
}

body {
    background: #120f31;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #100d30, #1c184c, #110e30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #100d30, #1c184c, #110e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: #1e1920; */
}

.loading {
    animation: loading 2s ease-in-out infinite alternate;
    align-items: center;
    color: rgb(194, 208, 255);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    text-transform: lowercase;
    // animation: loading 1s ease-in-out infinite alternate;
    border-radius: 4px;
    padding: 7px 18px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    /* border: 2px solid #e4e4e4;
    border-radius: 8px; */
    margin: 20px auto;
    padding: 40px;
    flex: 1;
    /* max-width: 700px; */
}

.site-title {
    animation: neonTitle 1.5s ease-in-out infinite alternate;;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #a318ff;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 3.8rem;
    text-align: center;
    text-transform: uppercase;
}

.authors-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, min-content);
    grid-auto-rows: 320px; */

    @media (min-width: 768px) {
        padding-left: 2.5%;
        width: 80%;
    }
}

.author-item {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    /* background: rgba(0,0,0,.05);
    box-shadow: 0 0 17px rgba(0,0,0,.05); */
    flex: 0 0 250px;
    margin-bottom: 40px;
    max-height: 290px;
    padding: 10px 20px;
    position: relative;

    &:hover {
        background: rgba(0,0,0,.1);
        border-radius: 6px;
    }
}
.author-item--active {
    position: relative;
    z-index: 11;
}
// .author-item--inactive {
//     filter: blur(2px);
// }
.author-name {
    align-items: flex-end;
    color: rgba(255,255,255,.9);
    display: flex;
    /* font-weight: 600; */
    flex: 0 0 70px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 26px;
    font-weight: 300;
    /* transition: opacity 3s, transform 5s; */
    /* word-break: break-word; */
    line-height: 35px;
    letter-spacing: -7px;
    padding-bottom: 18px;
    text-orientation: upright;
    text-shadow: 0 0 14px #000;
    text-transform: uppercase;
    transition: transform .5s;
    /* word-spacing: 70px; */
    writing-mode: vertical-lr;
    /* z-index: 1; */

    .author-item:hover &, .author-item--active & {
        transform: translateX(-3px);
    }
}
.author-img {
    /* align-items: center; */
    background-color: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: cover;
    border-top: 1px solid rgba(255,255,255,.25);
    border-radius: 10px;
    box-shadow: 0 0 24px rgba(0,0,0,.65);
    /* display: flex; */
    /* justify-content: center; */
    height: 280px;
    margin-left: .7rem;
    overflow: hidden;
    position: relative;
    width: 150px;

    .author-item > &:hover, .author-item--active > & {
        animation: neonImage 1.5s ease-in-out infinite alternate;
    }

    &:before {
        background: transparent;
        border: 1px solid rgba(0,0,0,.8);
        border-radius: 10px;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    
    img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        max-width: 170%;
        z-index: 1;
        transition: transform 4s;
    }
    &:hover img {
        transform: scale(1.3) translateY(-10px);
    }
}

.author-top-info {
    color: #fff;
    display: flex;
    left: 96px;
    opacity: 0;
    position: absolute;
    top: 0;

    .author-item--active & {
        opacity: 1;
        transform: translateY(-3.2rem);
    }
}

.author-tiny-gallery {
    opacity: 0;
    position: absolute;
    right: 0;
    transition: .5s ease-in-out;
    transform: scale(.65);

    .author-item--active & {
        opacity: 1;
        transform: translateX(90%) scale(1);
    }
}


.author-img--mini {
    border-radius: 4px;
    height: 5rem;
    margin: 0;
    width: 5rem;
    z-index: 2;
    
    &:before {
        border-radius: 4px;
        border: 1px solid rgba(121, 178, 243, 0.4);
        filter: blur(1px);
    }
    .author-tiny-gallery & {
        margin-bottom: 1rem;
        animation: floatY 1.7s ease-in-out infinite alternate;
    }
}

.veil {
    background: rgba(0,0,0,.85);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
    visibility: hidden;
    z-index: 10;
}
.veil--is-on {
    opacity: 1;
    visibility: visible;
}

.author-insta, .author-website {
    animation: flash 1.5s ease-in-out infinite alternate;
    color: rgb(148, 55, 255);
    font-size: 35px;
    // filter: blur(.5px);

    &:hover {
        animation: none;
        opacity: 1;
        // filter: blur(0);
        
        // &:before {
        //     border: 4px solid #fff;
        //     // box-shadow: 0 0 5px rgba(#fff, .8);
        //     content: '';
        //     display: block;
        //     filter: blur(3px);
        //     opacity: .8;
        //     position: absolute;
        //     bottom: 0;
        //     height: 24px;
        //     width: 28px;
        //     z-index: -1;
        // }
    }
}

.author-website {
    animation: flash 1s ease-in-out infinite alternate;
    color: rgb(181, 238, 25);
    margin-left: 14px;
    opacity: 0.5;
}
// .author-insta {
//     background: transparent;
//     border: 2px solid rgb(101, 39, 245);
//     border-radius: 3px;
//     // box-shadow: 0 0 8px rgba(255,255,255,.9);s
//     color: rgb(192, 55, 255);
//     display: inline-block;
//     font-family: 'Roboto', sans-serif;
//     font-size: 12px;
//     font-style: italic;
//     font-weight: 300;
//     letter-spacing: 2px;
//     margin-right: 19px;
//     padding: 4px 8px;
//     position: relative;
//     // text-shadow: 0 0 1px rgb(174, 58, 252);
//     text-transform: uppercase;
//     text-decoration: none;

//     &:before {
//         content: "insta";
//     }
//     &:after {
//         border: 1px solid #e378ff;
//         content: "";
//         position: absolute;
//         top: -3px;
//         right: -3px;
//         left: -3px;
//         bottom: -3px;
//         border-radius: 3px;
//     }
// }

// .author-website {
//     background: transparent;
//     border: 2px solid #4be815;
//     border-radius: 3px;
//     color: #12e4d0;
//     display: inline-block;
//     font-size: 12px;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 300;
//     font-style: italic;
//     letter-spacing: 2px;
//     padding: 4px 14px;
//     position: relative;
//     text-decoration: none;
//     text-transform: uppercase;
//     // text-shadow: 0 0 3px rgba(#fff, .8);


//     &:before {
//         content: "www";
//     }
//     &:after {
//         border: 1px solid #f2ff00;
//         content: "";
//         position: absolute;
//         top: -3px;
//         right: -3px;
//         left: -3px;
//         bottom: -3px;
//         border-radius: 3px;
//     }
// }

.footer {
    color: #2441ff;
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    opacity: .9;

    &:before {
        content: "Made by Pablo Scasso";
        display: inline-block;
    }
}